<% if collection.empty? %>
    <div class="no-articles-container">
        <h1 class="no-articles">There are not news</h1>
    </div>
<% end %>
<% collection.each do |article| %>
    <div class="popularing-<%= article.id %>">
      <%= render 'news/popularing', article: article %>
    </div>
    <%= link_to news_path(article), :class => 'article' do %>
        <section>
            <% if article.photo != 'none' %>
                <%= image_tag article.photo %>
            <% elsif article.video != 'none'%>
                <%= image_tag 'video-found.jpg' %>
            <% else %>
                <%= image_tag article.branch.downcase + '-photo-not-found.jpg' %>
            <% end %>
            <article>
                <header>
                    <h2><%= article.name %></h2>
                    <time datetime="" ><%= article.date.strftime('%d.%m.%Y') %></time>

                </header>
                <article>
                    <p><%= article.description.truncate(220, separator:' ') %></p>
                </article>

            </article>
        </section>
    <% end %>
<% end %>