%section.content-wrapper.cf
  %article.articles-wrapper
    %section.article-type-2
      %header
        %h2= @article.name
        %figure
          - if @article.photo != 'none'
            = image_tag @article.photo
          - elsif @article.video != 'none'
            = image_tag 'http://o.aolcdn.com/portaleu/p5/forms/4027/71b59df9-e738-4fd1-826a-65399f83f4c7.jpg'
        %time{:datetime => ""}= @article.date.strftime('%B, %e %Y')
        %div{:class => "popularing-#{@article.id}"}
          = render 'popularization', article: @article
        %blockquote
          %p= @article.description
          %footer= link_to '<' + @article.branch + '>', music_path
  = render 'sidebar', collection: @popular
  .weather
    = raw @weather_api