<section class="content-wrapper cf">
	<article class="articles-wrapper">
		<section class="article-type-2">

		    <header>
                <h2><%= @article.name %></h2>
                <figure>
                    <% if @article.photo != 'none' %>
                      <%= image_tag @article.photo %>
                    <% elsif @article.video != 'none'%>
                      <%= image_tag 'http://o.aolcdn.com/portaleu/p5/forms/4027/71b59df9-e738-4fd1-826a-65399f83f4c7.jpg' %>
                    <% else %>
                      <%= image_tag 'http://www.gobizkorea.com/catalog/images/common/no_article1.gif' %>
                    <% end %>
                </figure>
				<time datetime="" ><%= @article.date.strftime('%B, %e %Y') %></time>
                <div class="popularing-<%= @article.id %>">
                    <%= render 'popularing', article: @article %>
                  </div>
				<blockquote>
  					<p><%= @article.description %></p>
 			 		<footer><%= link_to '<' + @article.branch + '>', music_path %></footer>
			    </blockquote>

		    </header>
		</section>
	</article>
  <%= render 'news/sidebar', collection: @news  %>
  <div class="weather">
    <%=raw @weather_api %>
  </div>

</section>
